<a href="https://colab.research.google.com/github/Ruperto-April-Anne/CPE-201L-DSA-2-A/blob/main/DSA_Lab5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Implementation of Arrays

**SUM**

In [25]:
def array_sum(arr):
  sum = 0
  for i in arr:
    sum = sum + i
  print("Sum of all Arrays: ", sum)

arr = [1,2,3,4,5,6,7,8,9,10]
print("Original Array: ", arr)
array_sum(arr)

Original Array:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Sum of all Arrays:  55

**APPEND (Adding new element at the end)**

In [22]:
def array_append(arr):
  append_arr = int(input("New Element: "))
  arr.append(append_arr)
  print("New Array: ", arr)


arr = [1,2,3,4,5,6,7,8,9,10]
print("Original Array: ", arr)
array_append(arr)

Original Array:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
New Element: 11
New Array:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

**INSERT (Adding new element at the specified position)**

In [29]:
def insert_array(arr):
  insert_arr = int(input("New Element: "))
  position = int(input("Position: "))
  arr.insert(position, insert_arr)
  print("New Array: ", arr)


arr = [1,2,3,4,5,6,7,8,9,10]
print("Original Array: ", arr)
insert_array(arr)

Original Array:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
New Element: 11
Position: 5
New Array:  [1, 2, 3, 4, 5, 11, 6, 7, 8, 9, 10]

**REVERSE**

In [18]:
def reverse(arr):
  reversed_arr = arr[::-1]
  print("Reversed Array: ", reversed_arr)


arr = [5,4,3,2,1]
print("Original Array: ", arr)
reverse(arr)

Original Array:  [5, 4, 3, 2, 1]
Reversed Array:  [1, 2, 3, 4, 5]

**LENGHT**

In [19]:
def array_length(arr):
    count = 0
    for index, element in enumerate(arr):
        count = index + 1
    return count


arr = [5, 4, 3, 2, 1]
print("Original Array: ", arr)
length = array_length(arr)
print("Length of the array: ", length)

Original Array:  [5, 4, 3, 2, 1]
Length of the array:  5